<jw-modal  [id]="defi!.idDefi" [defiAffichage]="defi!.description">
  <div style="width: 500px;white-space: pre-line">{{ treatementDefis(defi!.description)}} </div>
  <div class="modal-footer">
    <button (click)="this.openEtape()" type="button" class="btn btn-default" data-dismiss="modal">Commencez ce defi sans enregistration</button>
    <button (click)="this.visiteServ.isUserOnPlace(defi!)?this.openModalParticulier('Visite',defi!):this.visiteServ.notification('You are not near the defi')" class="btn btn-default">Je veux enregistrer ma visite</button>
    <button (click)="this.openModalParticulier('allVisitesDeDefi',defi!)"class="btn btn-default">Voir les visites de ce Defi</button>
    <button (click)="closeModal(defi!.idDefi)" class="btn btn-default" data-dismiss="modal">Close</button>
  </div>
</jw-modal>


<div *ngFor="let etape of this.defi!.etapes">
    <app-etape [etape]="etape" [defiOfEtape]="this.defi"
    ></app-etape>
</div>


<jw-modal [id]="defi!.idDefi+'-edit'">
  <form [formGroup]="DefiForm!" >
    <p>
      <label for="titre">Titre </label>
      <input type="text" id="titre" name="titre" formControlName="titre">
    </p>
    <p>
      <label for="description">Description </label>
      <input type="text" id="description" name="description" formControlName="description">
    </p>
    <p>
      <label for="arret">Arret </label>
      <input type="text" id="arret" name="arret" formControlName="arret">
    </p>
    <p>
      <label for="points">Points </label>
      <input type="number" id="points" name="points" formControlName="points">
    </p>
    <p>
      <label for="typeDefi">Type of Defi </label>
      <input type="text" id="typeDefi" name="typeDefi" formControlName="typeDefi">
      Challange or Enigme
    </p>
  <div *ngFor="let etape of defi!.etapes;let index=index">
    <button (click)="openEditEtape(index+1)">Etape {{index+1}}</button>
    <div formArrayName="etapes"
    >
    <div *ngIf="this.etapesEditing()[index]">
      <form [formGroup]="openEditEtape(index+1)!"><!--- Maybe it doesnt work [formGroupName]="j" *ngFor="let etape of this.etapesFormArrayCreating.controls;let j=index-->
        <!-- I am not sure that it works -->
        <p>
          <label for="descriptionE">Descrtipion of Etape </label>
          <input type="text" id="descriptionE" name="descriptionE" formControlName="description">
        </p>
        <p>
          <label for="question">Question </label>
          <input type="text" id="questionE" name="questionE" formControlName="question">
        </p>
        <p>
          <label for="solutionE">Solution </label>
          <input type="text" id="solutionE" name="solutionE" formControlName="solution">
        </p>
        <p>
          <label for="pointForSolutionE">Point for solution </label>
          <input type="text" id="pointForSolutionE" name="pointForSolutionE" formControlName="pointForSolution">
        </p>
        <p>
          <label for="reponsesE">Reponses </label>
          <input type="text" id="reponsesE" name="reponsesE" formControlName="reponses">
        </p>
        <p>
          <label for="indiceDefiE">Clue </label>
          <input type="text" id="indiceDefiE" name="indiceDefi" formControlName="indice">
        </p>
        <p>
          <label for="pointForIndiceE">Point for Clue </label>
          <input type="text" id="pointForIndiceE" name="pointForIndiceE" formControlName="pointForIndice">
        </p>
        <p>
          <label for="indicationE">Indication </label>
          <input type="text" id="indicationE" name="indicationE" formControlName="indication">
        </p>
        <p>
          <label for="imageE">Image </label>
          <input type="text" id="imageE" name="imageE" formControlName="image">
        </p>
        <p>
          <label for="videoE">Image </label>
          <input type="text" id="videoE" name="videoE" formControlName="video">
        </p>
      </form>
    </div>
  </div>
  </div>
  <button (click)="this.onSubmitEdit()">
    Save info
  </button>
</form>
  <button (click)="this.closeModalEdit(defi!.idDefi+'-edit')"
  >Close (Your modification wont be saved)
  </button>
</jw-modal>

<jw-modal [id]="'DefiCreation'">
  <h1>Creation of Defi</h1>
  <label for="numOfEtapeToCreate">How many etapes would u like to create?</label>
  <input type="number" id="numOfEtapeToCreate" [(ngModel)]="numOfEtapesToCreate" (ngModelChange)="this.ngOnInit()"/>
  <!-- <button (click)="this.changeCreating()"> Create </button> -->
  <div *ngIf="this.isCreating()">
    <form [formGroup]="DefiCreating" >
      <p>
        <label for="titre">Titre </label>
        <input type="text" id="titre" name="titre" formControlName="titre">
      </p>
      <p>
        <label for="description">Description </label>
        <input type="text" id="description" name="description" formControlName="description">
      </p>
      <p>
        <label for="arret">Arret </label>
        <input type="text" id="arret" name="arret" formControlName="arret">
      </p>
      <p>
        <label for="points">Points </label>
        <input type="number" id="points" name="points" formControlName="points">
      </p>
      <p>
        <label for="typeDefi">Type of Defi </label>
        <input type="text" id="typeDefi" name="typeDefi" formControlName="typeDefi">
        Challange or Enigme
      </p>
      <!-- <div *ngFor="let i of this.tempArray;let index=index;trackBy:trackByIndex"> -->
        <!-- <button (click)="openEditEtape(index+1)">Etape {{index+1}}</button> -->
        <div formArrayName="etapes"
        >
          <form [formGroupName]="j" *ngFor="let etape of this.etapesFormArrayCreating.controls;let j=index">
            <!-- I am not sure that it works -->
            <h3><div><p>Your Etape {{j+1}}</p></div></h3>
            <input type="text" id="descriptionC" name="descriptionC" formControlName="descriptionC"/>
            <p>
              <label for="descriptionC">Descrtipion of Etape </label>
              <input type="text" id="descriptionC" name="descriptionC" formControlName="descriptionC">
            </p>
            <p>
              <label for="questionC">Question </label>
              <input type="text" id="questionC" name="questionC" formControlName="question">
            </p>
            <p>
              <label for="solutionC">Solution </label>
              <input type="text" id="solutionC" name="solutionC" formControlName="solution">
            </p>
            <p>
              <label for="pointForSolutionC">Point for solution </label>
              <input type="text" id="pointForSolutionC" name="pointForSolutionC" formControlName="pointForSolution">
            </p>
            <p>
              <label for="reponsesC">Reponses </label>
              <input type="text" id="reponsesC" name="reponsesC" formControlName="reponses">
            </p>
            <p>
              <label for="indiceC">Clue </label>
              <input type="text" id="indiceC" name="indiceC" formControlName="indice">
            </p>
            <p>
              <label for="pointForIndiceC">Point for Clue </label>
              <input type="text" id="pointForIndiceC" name="pointForIndiceC" formControlName="pointForIndice">
            </p>
            <p>
              <label for="indicationC">Indication </label>
              <input type="text" id="indicationC" name="indicationC" formControlName="indication">
            </p>
            <p>
              <label for="imageC">Image </label>
              <input type="text" id="imageC" name="imageC" formControlName="image">
            </p>
            <p>
              <label for="videoC">Image </label>
              <input type="text" id="videoC" name="videoC" formControlName="video">
            </p>
          </form>
        </div>
      <!-- </div> -->
      <button (click)="this.onSubmitCreate()">
        Create Defi
      </button>
    </form>
   </div>
   <button (click)="this.closeModalCreating()">
    Close (w/o save)
  </button>
</jw-modal>
