<h1>The question is :</h1><br/>
<p>{{this.question!.questionText}}</p>

<h4>Select one answer possible</h4>
<div *ngFor="let reponse of this.question!.choixPossibles;let i =index">
  <label for="choixPos">{{reponse.choix+" "}}</label>
  <input type="checkbox" id="choixPos" (click)="setAnswer(i)">
</div>
<button (click)="useIndice()">Want to use Indice?</button>
  <div *ngIf="this.usingIndice">
    <p>
      {{question!.indice.indiceText}}
    </p>
  </div>
<button (click)="this.checkAnswer()">
  Submit
</button>

