<h1>Projet intégrateur L3 Miage 2022</h1>
<h2>Bienvenu chez les chamis</h2>

<pre>
  <app-authentification></app-authentification>
</pre>
<button (click)="this.openModal('AllVisites')" class="btn btn-default">
  Show all visites
</button>
<app-table-vue [decider]="'Chamis'"></app-table-vue>

<app-table-vue [decider]="'Defis'"></app-table-vue>

<jw-modal [id]="'AllVisites'">
  <app-table-vue [Visites]="AllVisites" [decider]="'Visites'"></app-table-vue>
  <button (click)="this.closeModal('AllVisites')">
    Close
  </button>
</jw-modal>

<label>
  Afficher le cercle
  <input type="checkbox" [(ngModel)]="displayCircle" />
</label>
<div style="height: 500px;"
     leaflet
     [leafletOptions]="options"
     [leafletLayers]="otherLayers">

     <div *ngIf="displayCircle" [leafletLayer]="layerCircle"></div>
</div>

<footer>
Some footer
</footer>

