
<jw-modal [id]="'Visite'">
  <h1>Registration of your visiting</h1>
  <h3>ATTENTION : IL </h3>
  <form [formGroup]="visiteForm">
    <p>
      <label for="indice">Indice </label>
      <input type="text" id="indice" name="indice" formControlName="indice">
    </p>
    <p>
      <label for="comment">Comment </label>
      <input type="text" id="comment" name="comment" formControlName="comment">
    </p>
    <p>
      <label for="typeMode">Type </label>
      <input type="text" id="typeMode" name="typeMode" formControlName="typeMode">
      in distance or in presence?type dist or present
    </p>
  </form>
  <button class="btn btn-default" (click)="this.onSubmit()">
    Accepte Visite
  </button>
  <button (click)="closeModal('Visite')" class="btn btn-default" data-dismiss="modal">Close</button>
</jw-modal>

