
  <jw-modal [id]="'Visite'">
      <form [formGroup]="visiteForm">
        <p>
          <label for="indice">Indice</label>
          <input type="text" id="indice" name="indice" formControlName="indice">
        </p>
        <p>
          <label for="comment">Comment</label>
          <input type="text" id="comment" name="comment" formControlName="comment">
        </p>
      </form>
      <button class="btn btn-default" (click)="this.onSubmit()">
        Accepte Visite
      </button>
      <button (click)="closeModal('Visite')" class="btn btn-default" data-dismiss="modal">Close</button>
    </jw-modal>


    <!-- <jw-modal [id]="'allVisitesDeDefi'">
      <table>
        <tr *ngFor="let visite of this.visiteServ.usersVisites(this.visiteServ.tempDefi!!)">
          <td>{{visite.idVisite}}</td>
          <td>{{visite.idDefi}}</td>
          <td>{{visite.dateDeVisite}}</td>
          <td>{{visite.mode}}</td>
          <td>{{visite.points}}</td>
          <td>{{visite.score}}</td>
          <td>{{visite.status}}</td>
          <td>{{visite.temps}}</td><br/>
        </tr>
      </table>
      <button (click)="closeModal('allVisitesDeDefi')" class="btn btn-default" data-dismiss="modal">Close</button>
    </jw-modal> -->


