<jw-modal  [id]="this.getCurrentIdEtape()">
  <p>{{etape!.description}}</p>
  <app-question [question]="etape!.question"
  (correctAnswer)="this.correctAnswer($event)"
  (incorrectAnswer)="this.incorrectAnswer($event)"
  ></app-question>
  <button (click)="useIndice()"></button>
  <app-indication [indication]="this.etape?.indication">
  </app-indication>
  <div *ngIf="this.usingIndice">
    <p>
      {{etape!.indice}}
    </p>
  </div>
  <button *ngIf="this.getNextId()!='last'" (click)="this.next()">Next</button>
  <button *ngIf="this.getNextId()!='first'"(click)="this.previous()">Previous</button>
</jw-modal>
