<jw-modal  [id]="this.currentEtapeId">
  <p>{{etape!.description}}</p>
  <p>Some resource to help you</p>
  <app-indication [indication]="this.etape?.indication"></app-indication>
  <app-question [question]="etape!.question"
  (correctAnswer)="this.correctAnswer($event)"
  (incorrectAnswer)="this.incorrectAnswer($event)"
  ></app-question>
  <div *ngIf="this.firstEtape">
    <button  (click)="this.next()">Next</button>
  </div>
  <div *ngIf="this.lastEtape">
    <button (click)="this.previous()">Previous</button>
  </div>
  <button (click)="this.close()"> Close </button>
</jw-modal>

<div *ngIf="this.registrationYourVisite">
  <jw-modal [id]="'TempForVisiteRegistre'">
    <p>Hey how about to chage your opinion on this defi?</p>
    <h1>^_^</h1>
    <button (click)="this.changingInfoVisite()">
      Ok,I would like to change my opinion
    </button>
    <button (click)="this.modal.close(this.getCurrentIdEtape())">
      Nah,I am good
    </button>
  </jw-modal>
<div>

