

<jw-modal [id]="'registreForm'">
  <form [formGroup]="checkoutForm" >
    <p>
      <label for="firstname">First Name </label>
      <input type="text" id="firstname" name="firstname" formControlName="prenom">
    </p>
    <p>
      <label for="surname">Surname </label>
      <input type="text" id="surname" name="surname" formControlName="nom">
    </p>
    <p>
      <label for="city">City </label>
      <input type="text" id="city" name="city" formControlName="ville">
    </p>
    <p>
      <label for="age">Age</label>
      <input type="text" id="age" name="age" formControlName="age">
    </p>
    <p>
      <label for="description">Description</label>
      <input type="text" id="description" name="description" formControlName="description">
    </p>
  </form>
  <p>{{this.bodyText}}</p>
  <button (click)="onSubmit()">Send</button>
</jw-modal>


