<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<div class="container"></div>

<div *ngIf="this.decider==='Chamis'">

  <h4>Table Chamis</h4>
  <div class="table-responsive">
  <table class="table">
    <tr>
      <th>Auteur</th>
      <th>Age</th>
      <th>Défis créés</th>
    </tr>

    <tr *ngFor="let chami of this.tableChamis">
    <td>{{chami.auteur}}</td>
    <td>{{chami.age}}</td>
    <td>{{chami.defiCreated}}</td>
    </tr>
  </table>
</div >

</div>

<div *ngIf="this.decider==='Defis'">

  <h4>Table de defi</h4>

  <table>
    <tr>
      <th>Défi</th>
      <th>Titre</th>
      <th>Date de création</th>
      <th>Auteur</th>
    </tr>
    <tr *ngFor="let defi of this.tableDefis">
      <td>
  <!-- Trigger the modal with a button -->
      <button   (click)="openModal(defi.idDefi)" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" >
        {{defi.idDefi}}
      </button>
          <jw-modal  [id]="defi.idDefi" [defiAffichage]="defi.description">
            <div style="width: 500px;white-space: pre-line">{{ treatementDefis(defi.description)}} </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Accept</button>
              <button (click)="closeModal(defi.idDefi)" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </jw-modal>
      </td>
     <td>{{defi.titre}}</td>
    <td>{{defi.dateCreation}}</td>
    <td>{{defi.auteur.login}}</td>
    </tr>
  </table>
</div>


